<template>
  <div id="home">


    <div class="flex-center position-ref full-height">
      <div class="content">

        <div class="title m-b-md">
          Laravel Mix
        </div>

        <div class="links">
          <a href="https://laravel.com/docs">Docs</a>
          <a href="https://laracasts.com">Laracasts</a>
          <a href="https://laravel-news.com">News</a>
          <a href="https://nova.laravel.com">Nova</a>
          <a href="https://vuejs.org/">Vue.js</a>
        </div>

      </div>
    </div>


  </div>
</template>

<script src="./script.js"></script>
<style lang="scss">@import "./style";</style>