@import "variables";

* {
  border: 0;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: auto;
  outline: none;
  padding: 0;
  text-align: inherit;
}

:after, :before { box-sizing: border-box }

body {
  background: #f4f4f4;
  color: #22292f;
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  min-width: 320px;
  padding: 0;
  word-break: break-word;
  word-wrap: break-word;
  &.offline { filter: grayscale(1) }
}

a {
  cursor: pointer;
  text-decoration: none;
}

b, strong { font-weight: 600 }

p {
  margin: 0;
  &:not(:last-child) { margin-bottom: 1em }
  &:not(:first-child) { margin-top: 1em }
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { margin: 0 }
h1,.h1 { font-size: 2rem }
h2,.h2 { font-size: 1.5rem }
h3,.h3 { font-size: 1.17rem }
h4,.h4 { font-size: 1rem }
h5,.h5 { font-size: 0.83rem }
h6,.h6 { font-size: 0.67rem }

.float-l { float: left }

.float-r { float: right }

.text-l { text-align: left }

.text-c { text-align: center }

.text-r { text-align: right }

.text-j { text-align: justify }

.hide { display: none !important }

.show { display: block !important }

.full { width: 100% !important }

.bgi {
  background: center no-repeat;
  background-size: cover;
}

.v-mid {
  display: table;
  height: 100%;
  width: 100%;
  .vc-mid {
    display: table-cell;
    vertical-align: middle;
  }
}

.block-x {
  padding-bottom: 100%;
  position: relative;
  &.x16-9 { padding-bottom: 56.25% }
  &.x4-3 { padding-bottom: 75% }
  > * {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.row:after,
.clr {
  clear: both;
  content: "";
  display: block;
}

.row {
  clear: both;
  margin: auto;
  max-width: 1200px;
  padding: 0 15px;
  width: 100%;
}


@import "~ant-design-vue/dist/antd.css";
@import "keyframes";