<template>
  <div id="app" v-if="$user() !== null" :class="$store.state.load > 0 && `loading`">

    <Header />

    <main>
      <transition name="fade" mode="out-in">
        <router-view></router-view>
      </transition>
    </main>

  </div>
</template>

<script src="./script.js"></script>
<style lang="scss">@import "./style";</style>